
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<%- include('head.ejs') %>
<body data-spy="scroll" data-target=".navbar" data-offset="60">
    <div class="se-pre-con"></div>
    <%- include('navbar.ejs')%>
    <!--page banner start-->
    <div class="page-banner-brd">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner-brd-text text-center">
                        <h1>About Us</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About Us</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
        <span class="banner-frame-one"></span>
        <span class="banner-frame-two"></span>
        <span class="banner-frame-three"></span>
        <span class="banner-frame-four"></span>
        <div class="shape-top-left" data-aos="fade-right" data-aos-delay="500"></div>
        <div class="shape-bottom-right" data-aos="fade-left" data-aos-anchor-placement="top-bottom" data-aos-delay="1500"></div>
    </div>
    <!--page banner end-->

    <!--our services start-->
    <div class="our-services-sec pt-120">
        <div class="container">
            <div class="row g-4 gy-4 justify-content-center">
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="single-services-dv" data-aos="fade-up" data-aos-delay="200">
                        <div class="imgs">
                            <div class="icon">
                                <img src="img/icons/service-icon1.svg" alt="">
                            </div>
                            <img src="img/service1.png" class="mn" alt="">
                        </div>
                        <div class="cont">
                            <h2>Graphics Design</h2>
                            <p>Contrary to popular belief, Lorem Ips is not simply random text. It has root in a piece of classical.</p>
                        </div>
                    </div><!--/.single-services-dv-->
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="single-services-dv" data-aos="fade-up" data-aos-delay="400">
                        <div class="imgs">
                            <div class="icon">
                                <img src="img/icons/service-icon2.svg" alt="">
                            </div>
                            <img src="img/service2.png" class="mn" alt="">
                        </div>
                        <div class="cont">
                            <h2>Web Developer</h2>
                            <p>Contrary to popular belief, Lorem Ips is not simply random text. It has root in a piece of classical.</p>
                        </div>
                    </div><!--/.single-services-dv-->
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="single-services-dv" data-aos="fade-up" data-aos-delay="600">
                        <div class="imgs">
                            <div class="icon">
                                <img src="img/icons/service-icon3.svg" alt="">
                            </div>
                            <img src="img/service3.png" class="mn" alt="">
                        </div>
                        <div class="cont">
                            <h2>Digital Marketing</h2>
                            <p>Contrary to popular belief, Lorem Ips is not simply random text. It has root in a piece of classical.</p>
                        </div>
                    </div><!--/.single-services-dv-->
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="single-services-dv" data-aos="fade-up" data-aos-delay="800">
                        <div class="imgs">
                            <div class="icon">
                                <img src="img/icons/service-icon4.svg" alt="">
                            </div>
                            <img src="img/service4.png" class="mn" alt="">
                        </div>
                        <div class="cont">
                            <h2>App Design</h2>
                            <p>Contrary to popular belief, Lorem Ips is not simply random text. It has root in a piece of classical.</p>
                        </div>
                    </div><!--/.single-services-dv-->
                </div>
            </div>
        </div><!--/.container-->
    </div>
    <!--our services end-->

    <!--about ortency start-->
    <section class="about-ortency-v1 px-120">
        <div class="container">
            <div class="row gy-5 align-items-center">
                <div class="col-md-6">
                    <div class="left-images-about">
                        <div class="inner">
                            <img src="img/about-1.png" data-aos="fade-down" class="img1" alt="">
                            <img src="img/about-2.jpg" class="img2" alt="">
                            <img src="img/about-3.png" data-aos="flip-left" data-aos-delay="800" class="img3" alt="">
                        </div>
                    </div><!--/.left-images-about-->
                </div>
                <div class="col-md-6">
                    <div class="right-content-about">
                        <div class="sec-title">
                            <h3><img src="img/icons/title-icon.svg" alt=""> About Our Company</h3>
                            <h2 class="tag1">Best Digital Marketing Agency For People</h2>
                        </div>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have as suffered alteration in some form, by injected humour, or randomised words which don't a look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything.</p>
                        <ul class="list-icons d-flex flex-wrap align-items-start">
                            <li>Digital Strategy</li>
                            <li>SEO Optimization</li>
                            <li>Marketing</li>
                            <li>First Working Process</li>
                        </ul>
                        <a href="#" class="btn btn-default">Read More</a>
                    </div><!--/.right-content-about-->
                </div>
            </div>
        </div>
    </section>
    <!--about ortency end-->

    <!--why choose us start-->
    <section class="why-choose-us px-120">
        <div class="container">
            <div class="row g-4 gy-5 align-items-center">
                <div class="col-md-6">
                    <div class="left-content-choose">
                        <div class="sec-title">
                            <h3><img src="img/icons/title-icon-infinity.svg" alt="">Why Choose Ortencey</h3>
                            <h2 class="tag1">Reason For Choosing Our Digital Agency</h2>
                        </div>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majori suffered alteration in some form, by injected humour, or randomised word whic look even sligh believable. If you are going to use.</p>
                        <div class="single-progress">
                            <label class="d-flex justify-content-between">
                                <span>Software Development</span>
                                <span>85%</span>
                            </label>
                            <div class="progress">
                                <div class="progress-bar" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1000" data-aos-anchor-placement="top bottom"  role="progressbar" aria-label="Basic example" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>                          
                        </div><!--/.single-progress-->
                        <div class="single-progress">
                            <label class="d-flex justify-content-between">
                                <span>Web Development</span>
                                <span>95%</span>
                            </label>
                            <div class="progress">
                                <div class="progress-bar" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1200" data-aos-anchor-placement="top bottom"  role="progressbar" aria-label="Basic example" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>                          
                        </div><!--/.single-progress-->
                        <div class="single-progress">
                            <label class="d-flex justify-content-between">
                                <span>UL / UX Design</span>
                                <span>80%</span>
                            </label>
                            <div class="progress">
                                <div class="progress-bar" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1400" data-aos-anchor-placement="top bottom"  role="progressbar" aria-label="Basic example" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>                          
                        </div><!--/.single-progress-->
                    </div><!--/.left-content-choose-->
                </div>
                <div class="col-md-6">
                    <div class="right-img-choose">
                        <img src="img/choose-img.jpg" alt="">
                        <div class="exp"><span>25</span> Years Experience</div>
                    </div><!--/.right-img-choose-->
                </div>
            </div>
        </div>
    </section>
    <!--why choose us end-->

    <!--reason to success start-->
    <div class="reason-to_success-sec px-120">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-6">
                    <div class="left-images-rsn">
                        <img src="img/reason-about-1.jpg" class="rsn1" alt="">
                        <img src="img/reason-about-2.jpg" class="rsn2" alt="">
                        <img src="img/reason-about-3.jpg" class="rsn3" alt="">
                    </div><!--/.left-images-rsn-->
                </div>
                <div class="col-md-6">
                    <div class="sec-title">
                        <h3><img src="img/icons/title-icon-infinity.svg" alt="">Reason of Our Success</h3>
                        <h2 class="tag1">Quality & Experience Best Digital Agency</h2>
                    </div>
                    <div class="success-tabs-about">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#our_mission_id" type="button" role="tab" aria-controls="our_mission_id" aria-selected="true">Our Mission</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#our_vission_id" type="button" role="tab" aria-controls="our_vission_id" aria-selected="false">Our Vission</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#our_history_id" type="button" role="tab" aria-controls="our_history_id" aria-selected="false">Our History</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="our_mission_id" role="tabpanel" aria-labelledby="our_mission_id">
                                <div class="inner-tbs-success">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majori suffered alteration in some form, by injected humour, or randomised word whic look even sligh believable. If you are going to use.</p>
                                    <div class="d-sm-flex align-items-center">
                                        <img src="img/worldMap.png" alt="">
                                        <ul class="list-icons">
                                            <li>Financial Growth System</li>
                                            <li>Customer Oriented Program Daily</li>
                                            <li>Dedicated Team member</li>
                                            <li>Product ux Design & Development</li>
                                        </ul>
                                    </div>
                                </div><!--/.inner-tbs-success-->
                            </div>
                            <div class="tab-pane fade" id="our_vission_id" role="tabpanel" aria-labelledby="our_vission_id">
                                <div class="inner-tbs-success">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majori suffered alteration in some form, by injected humour, or randomised word whic look even sligh believable. If you are going to use.</p>
                                    <div class="d-sm-flex align-items-center">
                                        <img src="img/worldMap.png" alt="">
                                        <ul class="list-icons">
                                            <li>Financial Growth System</li>
                                            <li>Customer Oriented Program Daily</li>
                                            <li>Dedicated Team member</li>
                                            <li>Product ux Design & Development</li>
                                        </ul>
                                    </div>
                                </div><!--/.inner-tbs-success-->
                            </div>
                            <div class="tab-pane fade" id="our_history_id" role="tabpanel" aria-labelledby="our_history_id">
                                <div class="inner-tbs-success">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majori suffered alteration in some form, by injected humour, or randomised word whic look even sligh believable. If you are going to use.</p>
                                    <div class="d-sm-flex align-items-center">
                                        <img src="img/worldMap.png" alt="">
                                        <ul class="list-icons">
                                            <li>Financial Growth System</li>
                                            <li>Customer Oriented Program Daily</li>
                                            <li>Dedicated Team member</li>
                                            <li>Product ux Design & Development</li>
                                        </ul>
                                    </div>
                                </div><!--/.inner-tbs-success-->
                            </div>
                        </div>
                          
                    </div><!--/.success-tabs-about-->
                </div>
            </div>
        </div><!--/.container-->
    </div>
    <!--reason to success end-->

    <!--team area start-->
    <section class="team-area-sec px-120">
        <div class="container">
            <div class="row g-0">
                <div class="col-12">
                    <div class="sec-title text-center">
                        <h3><img src="img/icons/title-icon-infinity.svg" alt=""> Team Member</h3>
                        <h2 class="tag1">Creative Team Member</h2>
                    </div>
                </div>
                <div class="col-12 mt-50">
                    <div class="row g-4">
                        <div class="col-md-6 col-lg-3">
                            <div class="team-member-inner" data-aos="flip-left" data-aos-delay="100">
                                <div class="imgs">
                                    <img src="img/team1.jpg" alt="">
                                </div>
                                <div class="cont">
                                    <div class="name">
                                        <h2>Robert Sions</h2>
                                        <p>Business Consultant</p>
                                    </div>
                                    <div class="socials">
                                        <ul>
                                            <li><a href="#"><i class="bx bxl-facebook"></i></a></li>
                                            <li><a href="#"><i class="bx bxl-twitter"></i></a></li>
                                            <li><a href="#"><i class="bx bxl-linkedin"></i></a></li>
                                            <li><a href="#"><i class="bx bxl-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--/.team-member-inner-->
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="team-member-inner" data-aos="flip-left" data-aos-delay="300">
                                <div class="imgs">
                                    <img src="img/team2.jpg" alt="">
                                </div>
                                <div class="cont">
                                    <div class="name">
                                        <h2>Ross Bing</h2>
                                        <p>App Developer</p>
                                    </div>
                                    <div class="socials">
                                        <ul>
                                            <li><a href="#"><i class="bx bxl-facebook"></i></a></li>
                                            <li><a href="#"><i class="bx bxl-twitter"></i></a></li>
                                            <li><a href="#"><i class="bx bxl-linkedin"></i></a></li>
                                            <li><a href="#"><i class="bx bxl-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--/.team-member-inner-->
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="team-member-inner" data-aos="flip-left" data-aos-delay="500">
                                <div class="imgs">
                                    <img src="img/team3.jpg" alt="">
                                </div>
                                <div class="cont">
                                    <div class="name">
                                        <h2>Karikok Jahan</h2>
                                        <p>Executive Manager</p>
                                    </div>
                                    <div class="socials">
                                        <ul>
                                            <li><a href="#"><i class="bx bxl-facebook"></i></a></li>
                                            <li><a href="#"><i class="bx bxl-twitter"></i></a></li>
                                            <li><a href="#"><i class="bx bxl-linkedin"></i></a></li>
                                            <li><a href="#"><i class="bx bxl-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--/.team-member-inner-->
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="team-member-inner" data-aos="flip-left" data-aos-delay="700">
                                <div class="imgs">
                                    <img src="img/team4.jpg" alt="">
                                </div>
                                <div class="cont">
                                    <div class="name">
                                        <h2>Dickerson MH</h2>
                                        <p>Agency Analysis</p>
                                    </div>
                                    <div class="socials">
                                        <ul>
                                            <li><a href="#"><i class="bx bxl-facebook"></i></a></li>
                                            <li><a href="#"><i class="bx bxl-twitter"></i></a></li>
                                            <li><a href="#"><i class="bx bxl-linkedin"></i></a></li>
                                            <li><a href="#"><i class="bx bxl-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--/.team-member-inner-->
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </section>
    <!--team area end-->

    <!--fun fact start-->
    <div class="fun-fact-sec px-120">
        <div class="container">
            <div class="row g-0">
                <div class="col-12">
                    <div class="fun-fact-wraps-v2">
                        <div class="row g-4 align-items-center">
                            <div class="col-md-6 col-lg-3">
                                <div class="singl-fact-count  v2" data-aos="fade-in" data-aos-delay="100">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-0">
                                            <div class="icon">
                                                <img src="img/icons/fun1.1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="flex-shrink-1">
                                            <h2 class="counter">1500 +</h2>
                                            <p>Project Complete</p>
                                        </div>
                                    </div>
                                </div><!--/.singl-fact-count-->
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="singl-fact-count  v2"  data-aos="fade-in" data-aos-delay="200">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-0">
                                            <div class="icon">
                                                <img src="img/icons/fun1.2.png" alt="">
                                            </div>
                                        </div>
                                        <div class="flex-shrink-1">
                                            <h2 class="counter">150 +</h2>
                                            <p>Happy Clients</p>
                                        </div>
                                    </div>
                                </div><!--/.singl-fact-count-->
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="singl-fact-count  v2"  data-aos="fade-in" data-aos-delay="300">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-0">
                                            <div class="icon">
                                                <img src="img/icons/fun1.3.png" alt="">
                                            </div>
                                        </div>
                                        <div class="flex-shrink-1">
                                            <h2 class="counter">35 +</h2>
                                            <p>Professional Team</p>
                                        </div>
                                    </div>
                                </div><!--/.singl-fact-count-->
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="singl-fact-count  v2"  data-aos="fade-in" data-aos-delay="400">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-0">
                                            <div class="icon">
                                                <img src="img/icons/fun1.4.png" alt="">
                                            </div>
                                        </div>
                                        <div class="flex-shrink-1">
                                            <h2 class="counter">120 +</h2>
                                            <p>Award win</p>
                                        </div>
                                    </div>
                                </div><!--/.singl-fact-count-->
                            </div>
                        </div>
                    </div><!--/.fun-fact-wraps-->
                </div>
            </div>
        </div><!--/.container-->
    </div>
    <!--fun fact end-->
    <!--footer area start-->
    <%- include('footer.ejs') %>
</body>
</html>