
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<%- include('head.ejs') %>
<body data-spy="scroll" data-target=".navbar" data-offset="60">
    <div class="se-pre-con"></div>
    <%- include('navbar.ejs')%>
    <!--page banner start-->
    <div class="page-banner-brd">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner-brd-text text-center">
                        <h1>Blog Right Side</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog Right Side</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
        <span class="banner-frame-one"></span>
        <span class="banner-frame-two"></span>
        <span class="banner-frame-three"></span>
        <span class="banner-frame-four"></span>
        <div class="shape-top-left" data-aos="fade-right" data-aos-delay="500"></div>
        <div class="shape-bottom-right" data-aos="fade-left" data-aos-anchor-placement="top-bottom" data-aos-delay="1500"></div>
    </div>
    <!--page banner end-->

    <!--blog standard start-->
    <div class="blog-standard-wrap px-120">
        <div class="container">
            <div class="row g-4 gy-5">
                <div class="col-lg-8">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="single-blog-inner">
                                <div class="imgs">
                                    <img src="img/blog1.jpg" alt="">
                                    <span class="date">09 Dec 2022</span>
                                    <span class="cat">Digital Agency</span>
                                    <a href="blog-details.html" class="single-links">hidden link</a>
                                </div>
                                <div class="conts">
                                    <ul class="meta">
                                        <li><img src="img/icons/user.svg" alt=""><span>by Admin</span></li>
                                        <li><img src="img/icons/messages.svg" alt=""> <span>25</span></li>
                                        <li><img src="img/icons/eye.svg" alt=""> <span>120 Views</span></li>
                                    </ul>
                                    <h2><a href="blog-details.html">Successful business partner have a meeting and discussing</a></h2>
                                </div>
                            </div><!--/.single-blog-inner-->
                        </div>
                        <div class="col-md-6">
                            <div class="single-blog-inner">
                                <div class="imgs">
                                    <img src="img/blog2.jpg" alt="">
                                    <span class="date">09 Dec 2022</span>
                                    <span class="cat">Digital Agency</span>
                                    <a href="blog-details.html" class="single-links">hidden link</a>
                                </div>
                                <div class="conts">
                                    <ul class="meta">
                                        <li><img src="img/icons/user.svg" alt=""><span>by Admin</span></li>
                                        <li><img src="img/icons/messages.svg" alt=""> <span>25</span></li>
                                        <li><img src="img/icons/eye.svg" alt=""> <span>120 Views</span></li>
                                    </ul>
                                    <h2><a href="blog-details.html">Motivated colleagues celebrating
                                        corporate success together</a></h2>
                                </div>
                            </div><!--/.single-blog-inner-->
                        </div>
                        <div class="col-md-6">
                            <div class="single-blog-inner">
                                <div class="imgs">
                                    <img src="img/blog3.jpg" alt="">
                                    <span class="date">09 Dec 2022</span>
                                    <span class="cat">Digital Agency</span>
                                    <a href="blog-details.html" class="single-links">hidden link</a>
                                </div>
                                <div class="conts">
                                    <ul class="meta">
                                        <li><img src="img/icons/user.svg" alt=""><span>by Admin</span></li>
                                        <li><img src="img/icons/messages.svg" alt=""> <span>25</span></li>
                                        <li><img src="img/icons/eye.svg" alt=""> <span>120 Views</span></li>
                                    </ul>
                                    <h2><a href="blog-details.html">Man using a tablet to a work and connect with others</a></h2>
                                </div>
                            </div><!--/.single-blog-inner-->
                        </div>
                        <div class="col-md-6">
                            <div class="single-blog-inner">
                                <div class="imgs">
                                    <img src="img/blog-full4.jpg" alt="">
                                    <span class="date">09 Dec 2022</span>
                                    <span class="cat">Digital Agency</span>
                                    <a href="blog-details.html" class="single-links">hidden link</a>
                                </div>
                                <div class="conts">
                                    <ul class="meta">
                                        <li><img src="img/icons/user.svg" alt=""><span>by Admin</span></li>
                                        <li><img src="img/icons/messages.svg" alt=""> <span>25</span></li>
                                        <li><img src="img/icons/eye.svg" alt=""> <span>120 Views</span></li>
                                    </ul>
                                    <h2><a href="blog-details.html">Staff meeting in group a young
                                        modern people smart</a></h2>
                                </div>
                            </div><!--/.single-blog-inner-->
                        </div>
                        <div class="col-md-6">
                            <div class="single-blog-inner">
                                <div class="imgs">
                                    <img src="img/blog-full5.jpg" alt="">
                                    <span class="date">09 Dec 2022</span>
                                    <span class="cat">Digital Agency</span>
                                    <a href="blog-details.html" class="single-links">hidden link</a>
                                </div>
                                <div class="conts">
                                    <ul class="meta">
                                        <li><img src="img/icons/user.svg" alt=""><span>by Admin</span></li>
                                        <li><img src="img/icons/messages.svg" alt=""> <span>25</span></li>
                                        <li><img src="img/icons/eye.svg" alt=""> <span>120 Views</span></li>
                                    </ul>
                                    <h2><a href="blog-details.html">Close up young business person
                                        collaborative internship</a></h2>
                                </div>
                            </div><!--/.single-blog-inner-->
                        </div>
                        <div class="col-md-6">
                            <div class="single-blog-inner">
                                <div class="imgs">
                                    <img src="img/blog-full1.jpg" alt="">
                                    <span class="date">09 Dec 2022</span>
                                    <span class="cat">Digital Agency</span>
                                    <a href="blog-details.html" class="single-links">hidden link</a>
                                </div>
                                <div class="conts">
                                    <ul class="meta">
                                        <li><img src="img/icons/user.svg" alt=""><span>by Admin</span></li>
                                        <li><img src="img/icons/messages.svg" alt=""> <span>25</span></li>
                                        <li><img src="img/icons/eye.svg" alt=""> <span>120 Views</span></li>
                                    </ul>
                                    <h2><a href="blog-details.html">Business people in a meeting and
                                        connect with others</a></h2>
                                </div>
                            </div><!--/.single-blog-inner-->
                        </div>
                        <div class="col-md-6">
                            <div class="single-blog-inner">
                                <div class="imgs">
                                    <img src="img/blog1.jpg" alt="">
                                    <span class="date">09 Dec 2022</span>
                                    <span class="cat">Digital Agency</span>
                                    <a href="blog-details.html" class="single-links">hidden link</a>
                                </div>
                                <div class="conts">
                                    <ul class="meta">
                                        <li><img src="img/icons/user.svg" alt=""><span>by Admin</span></li>
                                        <li><img src="img/icons/messages.svg" alt=""> <span>25</span></li>
                                        <li><img src="img/icons/eye.svg" alt=""> <span>120 Views</span></li>
                                    </ul>
                                    <h2><a href="blog-details.html">Successful business partner have a meeting and discussing</a></h2>
                                </div>
                            </div><!--/.single-blog-inner-->
                        </div>
                        <div class="col-md-6">
                            <div class="single-blog-inner">
                                <div class="imgs">
                                    <img src="img/blog2.jpg" alt="">
                                    <span class="date">09 Dec 2022</span>
                                    <span class="cat">Digital Agency</span>
                                    <a href="blog-details.html" class="single-links">hidden link</a>
                                </div>
                                <div class="conts">
                                    <ul class="meta">
                                        <li><img src="img/icons/user.svg" alt=""><span>by Admin</span></li>
                                        <li><img src="img/icons/messages.svg" alt=""> <span>25</span></li>
                                        <li><img src="img/icons/eye.svg" alt=""> <span>120 Views</span></li>
                                    </ul>
                                    <h2><a href="blog-details.html">Motivated colleagues celebrating
                                        corporate success together</a></h2>
                                </div>
                            </div><!--/.single-blog-inner-->
                        </div>
                        <div class="col-md-6">
                            <div class="single-blog-inner">
                                <div class="imgs">
                                    <img src="img/blog3.jpg" alt="">
                                    <span class="date">09 Dec 2022</span>
                                    <span class="cat">Digital Agency</span>
                                    <a href="blog-details.html" class="single-links">hidden link</a>
                                </div>
                                <div class="conts">
                                    <ul class="meta">
                                        <li><img src="img/icons/user.svg" alt=""><span>by Admin</span></li>
                                        <li><img src="img/icons/messages.svg" alt=""> <span>25</span></li>
                                        <li><img src="img/icons/eye.svg" alt=""> <span>120 Views</span></li>
                                    </ul>
                                    <h2><a href="blog-details.html">Man using a tablet to a work and connect with others</a></h2>
                                </div>
                            </div><!--/.single-blog-inner-->
                        </div>
                        <div class="col-md-6">
                            <div class="single-blog-inner">
                                <div class="imgs">
                                    <img src="img/blog-full4.jpg" alt="">
                                    <span class="date">09 Dec 2022</span>
                                    <span class="cat">Digital Agency</span>
                                    <a href="blog-details.html" class="single-links">hidden link</a>
                                </div>
                                <div class="conts">
                                    <ul class="meta">
                                        <li><img src="img/icons/user.svg" alt=""><span>by Admin</span></li>
                                        <li><img src="img/icons/messages.svg" alt=""> <span>25</span></li>
                                        <li><img src="img/icons/eye.svg" alt=""> <span>120 Views</span></li>
                                    </ul>
                                    <h2><a href="blog-details.html">Staff meeting in group a young
                                        modern people smart</a></h2>
                                </div>
                            </div><!--/.single-blog-inner-->
                        </div>
                    </div>
                    <nav class="mt-5">
                        <ul class="pagination justify-content-start flex-wrap blog">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true"><i class="bx bx-chevron-left"></i></span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link active" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true"><i class="bx bx-chevron-right"></i></span>
                            </a>
                          </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4">
                    <div class="blog-sidebar-wrap">
                        <div class="product-search-filter product-filter-single">
                            <h2>Search</h2>
                            <form>
                                <div class="frm-group">
                                    <input type="search" class="form-control" placeholder="Search Product">
                                    <button type="submit" class="submit_btn"><i class="bx bx-search"></i></button>
                                </div>
                            </form>
                        </div><!--/.product-filter-single-->
                        <div class="category product-filter-single">
                            <h2>Categorys</h2>
                            <ul>
                                <li><a href="#">
                                    <span>Business Consulting</span>
                                    <span>(05)</span>
                                </a></li>
                                <li><a href="#">
                                    <span>Financial Investment</span>
                                    <span>(07)</span>
                                </a></li>
                                <li><a href="#">
                                    <span>IT Consultations</span>
                                    <span>(03)</span>
                                </a></li>
                                <li><a href="#">
                                    <span>Digital Analytics</span>
                                    <span>(04)</span>
                                </a></li>
                                <li><a href="#">
                                    <span>Payment Processing</span>
                                    <span>(12)</span>
                                </a></li>
                                <li><a href="#">
                                    <span>Software Solutions</span>
                                    <span>(02)</span>
                                </a></li>
                            </ul>
                        </div><!--/.product-filter-single-->
                        <div class="recent product-filter-single">
                            <h2>Recent News</h2>
                            <div class="r-posts">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-0">
                                        <img src="img/blog1.jpg" alt="">
                                    </div>
                                    <div class="flex-shrink-1">
                                        <h5><a href="#">Successful business partners having a meetin</a></h5>
                                        <p><i class='bx bx-calendar' ></i> 27 oct 2022</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-0">
                                        <img src="img/blog2.jpg" alt="">
                                    </div>
                                    <div class="flex-shrink-1">
                                        <h5><a href="#">Creative designer project our discuss presentation client</a></h5>
                                        <p><i class='bx bx-calendar' ></i> 27 oct 2022</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-0">
                                        <img src="img/blog3.jpg" alt="">
                                    </div>
                                    <div class="flex-shrink-1">
                                        <h5><a href="#">Front view of is businessman with colorful cones</a></h5>
                                        <p><i class='bx bx-calendar' ></i> 27 oct 2022</p>
                                    </div>
                                </div>
                            </div>
                        </div><!--/.product-filter-single-->
                        <div class="tags product-filter-single">
                            <h2>Popular Tags</h2>
                            <ul>
                                <li><a href="#">Agency</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Development</a></li>
                                <li><a href="#">Finance</a></li>
                                <li><a href="#">Banking</a></li>
                                <li><a href="#">Corporate</a></li>
                                <li><a href="#">Digital</a></li>
                                <li><a href="#">Consulting</a></li>
                            </ul>
                        </div><!--/.product-filter-single-->
                        <div class="futures product-filter-single">
                            <h2>Need Help?</h2>
                            <div class="content-inner">
                                <h3>Help to Create Great Business Agency Future</h3>
                                <p>Sit amet consectetur adipiscing elseds do eius mod tempor incididunt</p>
                                <a href="contact.html" class="btn btn-default">Contact Us</a>
                            </div>
                        </div><!--/.product-filter-single-->
                    </div><!--/.blog-sidebar-wrap-->
                </div>
            </div>
        </div><!--/.container-->
    </div>
    <!--blog standard end-->
    <!--footer area start-->
    <%- include('footer.ejs') %>
</body>
</html>