    <!-- main nav start -->
    <header class="header-style-1" style="background-color: #3661fc !important;">
        <div class="top_nav_soc">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-xl-8">
                        <div class="left-content-top">
                            <ul>
                                <li class="d-none d-xl-inline-block">Welcome to Ortencey Digital Market Agency</li>
                                <li>
                                    <a href="#"><i class='bx bxs-phone'></i> +88 ( 5548 ) 6548</a>
                                </li>
                                <li>
                                    <a href="#"><i class='bx bxs-envelope'></i> infoyour@email.com</a>
                                </li>
                            </ul>
                        </div><!--/.left-content-top-->
                    </div>
                    <div class="col-md-4 col-xl-4">
                        <div class="right-content-top">
                            <ul>
                                <li>
                                    <div id="options"
                                         data-input-name="country2"
                                         data-selected-country="US">
                                    </div>
                                </li>
                                <li>
                                    <a href="#"><i class='bx bxl-facebook' ></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class='bx bxl-linkedin' ></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class='bx bxl-twitter' ></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class='bx bxl-youtube' ></i></a>
                                </li>
                            </ul>
                        </div><!--/.right-content-top-->
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-area">
            <div class="main-responsive-nav">
                <div class="container">
                    <div class="main-responsive-menu">
                        <div class="logo">
                            <a href="index.html">
                                <img src="img/logo.png"  alt="image">
                            </a>
                        </div><!--/.logo-->
                    </div>
                </div>
            </div>
            <div class="main-navbar bg-white" style="width: 100% !important;">
                <div class="container" style="width: 100% !important;">
                    <nav class="navbar navbar-expand-md navbar-light" style="height: 50px !important;">
                        <a class="navbar-brand" href="/">
                            <img src="img/logo.png" alt="image" style="height: 50px;">
                        </a>
                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item">
                                    <a href="/About" class="nav-link">About</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Pricing" class="nav-link "> Pricing
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Portfolio" class="nav-link "> Portfolio
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Faq" class="nav-link "> FAQ 
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Blog" class="nav-link">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Contact" class="nav-link">Contact Us</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Login" class="text-white text-center btn-block" style="background-color: #fe651b; padding:5px 5px; border:none">Login</a>
                                </li>
                            </ul><!--/.navbar-nav -->
                            <div class="others-options d-flex align-items-center">
                                <div class="option-item d-none d-xl-inline-block">
                                    <div class="buttons">
                                        <a href="http://" class="text-white" style="background-color: #fe651b; padding:5px 5px; border:none"> Order Now</a>
                                    </div>
                                     
                                </div>
                            </div><!--/.others-options-->
                        </div>
                    </nav><!--/.navbar-->
                </div>
            </div>
    
        </div>
    </header>
    <!-- /.navbar -->
