
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<%- include('head.ejs') %>
<body data-spy="scroll" data-target=".navbar" data-offset="60">
    <div class="se-pre-con"></div>
    <%- include('navbar.ejs')%>
    <!--page banner start-->
    <div class="page-banner-brd">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner-brd-text text-center">
                        <h1>Portfolio</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Portfolio</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
        <span class="banner-frame-one"></span>
        <span class="banner-frame-two"></span>
        <span class="banner-frame-three"></span>
        <span class="banner-frame-four"></span>
        <div class="shape-top-left" data-aos="fade-right" data-aos-delay="500"></div>
        <div class="shape-bottom-right" data-aos="fade-left" data-aos-anchor-placement="top-bottom" data-aos-delay="1500"></div>
    </div>
    <!--page banner end-->

    <!--portfolio page start-->
    <section class="portfolio-sec-pg px-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sec-title text-center mb-50">
                        <h3><img src="img/icons/title-icon.svg" alt=""> Our Portfolio</h3>
                        <h1>Our Impressive Portfolio</h1>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row g-4">
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-inner-sl">
                                <div class="imgs">
                                    <img src="img/home2/portfolio1.jpg" alt="">
                                </div>
                                <div class="hidden-cont">
                                    <div class="d-flex justify-content-between">
                                        <div class="name">
                                            <h3>Monthly Design Magazine </h3>
                                            <p>Print, Books</p>
                                        </div>
                                        <div class="btns">
                                            <a href="portfolio-details.html" class="btn"><i class='bx bx-plus'></i></a>
                                        </div>
                                    </div>
                                </div>
                                <a href="portfolio-details.html" class="go-hidden"><i class='bx bx-plus'></i></a>
                            </div><!--/.portfolio-inner-sl-->
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-inner-sl">
                                <div class="imgs">
                                    <img src="img/home2/portfolio4.jpg" alt="">
                                </div>
                                <div class="hidden-cont">
                                    <div class="d-flex justify-content-between">
                                        <div class="name">
                                            <h3>Monthly Design Magazine </h3>
                                            <p>Print, Books</p>
                                        </div>
                                        <div class="btns">
                                            <a href="portfolio-details.html" class="btn"><i class='bx bx-plus'></i></a>
                                        </div>
                                    </div>
                                </div>
                                <a href="portfolio-details.html" class="go-hidden"><i class='bx bx-plus'></i></a>
                            </div><!--/.portfolio-inner-sl-->
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-inner-sl">
                                <div class="imgs">
                                    <img src="img/home2/portfolio2.jpg" alt="">
                                </div>
                                <div class="hidden-cont">
                                    <div class="d-flex justify-content-between">
                                        <div class="name">
                                            <h3>Monthly Design Magazine </h3>
                                            <p>Print, Books</p>
                                        </div>
                                        <div class="btns">
                                            <a href="portfolio-details.html" class="btn"><i class='bx bx-plus'></i></a>
                                        </div>
                                    </div>
                                </div>
                                <a href="portfolio-details.html" class="go-hidden"><i class='bx bx-plus'></i></a>
                            </div><!--/.portfolio-inner-sl-->
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-inner-sl">
                                <div class="imgs">
                                    <img src="img/home2/portfolio3.jpg" alt="">
                                </div>
                                <div class="hidden-cont">
                                    <div class="d-flex justify-content-between">
                                        <div class="name">
                                            <h3>Monthly Design Magazine </h3>
                                            <p>Print, Books</p>
                                        </div>
                                        <div class="btns">
                                            <a href="portfolio-details.html" class="btn"><i class='bx bx-plus'></i></a>
                                        </div>
                                    </div>
                                </div>
                                <a href="portfolio-details.html" class="go-hidden"><i class='bx bx-plus'></i></a>
                            </div><!--/.portfolio-inner-sl-->
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-inner-sl">
                                <div class="imgs">
                                    <img src="img/home2/portfolio4.jpg" alt="">
                                </div>
                                <div class="hidden-cont">
                                    <div class="d-flex justify-content-between">
                                        <div class="name">
                                            <h3>Monthly Design Magazine </h3>
                                            <p>Print, Books</p>
                                        </div>
                                        <div class="btns">
                                            <a href="portfolio-details.html" class="btn"><i class='bx bx-plus'></i></a>
                                        </div>
                                    </div>
                                </div>
                                <a href="portfolio-details.html" class="go-hidden"><i class='bx bx-plus'></i></a>
                            </div><!--/.portfolio-inner-sl-->
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-inner-sl">
                                <div class="imgs">
                                    <img src="img/home2/portfolio4.jpg" alt="">
                                </div>
                                <div class="hidden-cont">
                                    <div class="d-flex justify-content-between">
                                        <div class="name">
                                            <h3>Monthly Design Magazine </h3>
                                            <p>Print, Books</p>
                                        </div>
                                        <div class="btns">
                                            <a href="portfolio-details.html" class="btn"><i class='bx bx-plus'></i></a>
                                        </div>
                                    </div>
                                </div>
                                <a href="portfolio-details.html" class="go-hidden"><i class='bx bx-plus'></i></a>
                            </div><!--/.portfolio-inner-sl-->
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-inner-sl">
                                <div class="imgs">
                                    <img src="img/home2/portfolio2.jpg" alt="">
                                </div>
                                <div class="hidden-cont">
                                    <div class="d-flex justify-content-between">
                                        <div class="name">
                                            <h3>Monthly Design Magazine </h3>
                                            <p>Print, Books</p>
                                        </div>
                                        <div class="btns">
                                            <a href="portfolio-details.html" class="btn"><i class='bx bx-plus'></i></a>
                                        </div>
                                    </div>
                                </div>
                                <a href="portfolio-details.html" class="go-hidden"><i class='bx bx-plus'></i></a>
                            </div><!--/.portfolio-inner-sl-->
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-inner-sl">
                                <div class="imgs">
                                    <img src="img/home2/portfolio3.jpg" alt="">
                                </div>
                                <div class="hidden-cont">
                                    <div class="d-flex justify-content-between">
                                        <div class="name">
                                            <h3>Monthly Design Magazine </h3>
                                            <p>Print, Books</p>
                                        </div>
                                        <div class="btns">
                                            <a href="portfolio-details.html" class="btn"><i class='bx bx-plus'></i></a>
                                        </div>
                                    </div>
                                </div>
                                <a href="portfolio-details.html" class="go-hidden"><i class='bx bx-plus'></i></a>
                            </div><!--/.portfolio-inner-sl-->
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-inner-sl">
                                <div class="imgs">
                                    <img src="img/home2/portfolio4.jpg" alt="">
                                </div>
                                <div class="hidden-cont">
                                    <div class="d-flex justify-content-between">
                                        <div class="name">
                                            <h3>Monthly Design Magazine </h3>
                                            <p>Print, Books</p>
                                        </div>
                                        <div class="btns">
                                            <a href="portfolio-details.html" class="btn"><i class='bx bx-plus'></i></a>
                                        </div>
                                    </div>
                                </div>
                                <a href="portfolio-details.html" class="go-hidden"><i class='bx bx-plus'></i></a>
                            </div><!--/.portfolio-inner-sl-->
                        </div>
                    </div>
                </div>

            </div>
        </div><!--/.container-->
    </section>
    <!--portfolio page end-->
    <!--footer area start-->
    <%- include('footer.ejs') %>
</body>
</html>