<form action="/Register" method="POST" class="mb-5 mt-3" style="padding: 20px;background-color:white !important; box-shadow: black 2px 2px 5px;">
    <fieldset >
        <div class="row">
            <div class="col-sm-6 mt-3">
                <input type="text" name="firstName" placeholder="First Name" class="form-control"
                style="background-color: white !important;border: 1px solid black; border-radius: 0px !important;height:30px !important">
            </div>
            <div class="col-sm-6 mt-3">
                <input type="text" name="lastName" placeholder="last Name" class="form-control"
                style="background-color: white !important;border: 1px solid black; border-radius: 0px !important;height:30px !important">
            </div>
        </div>
        <div class="form-group mt-3">
            <input type="text" name="username" placeholder="Username" class="form-control" id="username"
            style="background-color: white !important;border: 1px solid black; border-radius: 0px !important;height:30px !important">
        </div>
        <div class="form-group mt-3">
            <input type="email" name="email" placeholder="Email Address" class="form-control"
            style="background-color: white !important;border: 1px solid black; border-radius: 0px !important;height:30px !important">
        </div>
        <div class="form-group mt-3">
            <select name="reason" style="background-color: white !important;border: 1px solid black; border-radius: 0px !important;height:30px !important;width:100%">
                <option label="--select reason--"></option>
                <option value="work">I want to Work</option>
                <option value="assignment">I want to Hire</option>
            </select>
        </div>
        <div class="form-group mt-3">
            <input type="password" name="password" placeholder="Account Password" class="form-control"
            style="background-color: white !important;border: 1px solid black; border-radius: 0px !important;height:30px !important">
        </div>
        <div class="form-group mt-3">
            <input type="password" name="confirmPassword" placeholder="Confirm Password" class="form-control"
            style="background-color: white !important;border: 1px solid black; border-radius: 0px !important;height:30px !important">
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-block text-center mt-2" style="width: 100%;">Create Account</button>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-sm-6">
            <span>
                <a href="/Reset">Reset Your Password? </a>
            </span>
        </div>
        <div class="col-sm-6">
            <span>
                <a href="/Login">
                    Login Your Account
                </a>
            </span>
        </div>
    </div>
</form>